/********************************************************************/
/*  Edited By : Watson                                              */
/********************************************************************/
@charset "Shift_JIS";

/* 基本構成 ---------------------------------------------------------*/
BODY {
	font-family	: Tahoma, "MS UI Gothic", Chicago;
	color		: #ffffff;
	font-size	: 10pt;
	background-color: #000000;
	FONT-SIZE: 10pt;
}
/* リンク */
a {
	color		: #ff6600;
	text-decoration	: none;
}
a:visited {
	color		: #cc3333;
}
a:active {
	color		: #ffff00;
}
a:hover {
	color		: #ff0000;
	background-color: #000000;
}
/* 区切り線 */
hr {
	border		: solid #666666 1px;
}
/* テーブル */
table {
	border		: none;
}
th, td {
	border		: solid #333333 1px;
	font-size	: 10pt;
	white-space	: nowrap;
}
td.M {
	border		: medium none;
	padding-top: 10pt;
}
/* 更新時間 */
#lastModified {
	font-size	: 90%;
}
/* フッタ */
#LinkFoot {
	background-color: #111111;
	border		: dashed #333333 1px;
	width		: 50%;
	margin-left	: 25%;
	padding		: 5px;
}

/* TOPページ ---------------------------------------------------------*/
/* タイトル */
h1 {
	border-bottom: #145a4f 5px double;
	font-size: 38pt;
	background: url(blk/title.gif) no-repeat 96% 50%;
	left: 2px;
	margin-bottom: 80px;
	width: 400px;
	color: #ff0000;
	font-style: italic;
	font-family: "祥南行書体";
	position: relative;
	top: 60px
}
h2 {
	BORDER-RIGHT: #702030 0px solid;
	BORDER-TOP: #702030 0px solid;
	DISPLAY: block;
	PADDING-LEFT: 25px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14pt;
	BACKGROUND-IMAGE: none;
	TEXT-TRANSFORM: uppercase;
	BORDER-LEFT: #702030 0px solid;
	WIDTH: 300px;
	COLOR: #ffffff;
	BORDER-BOTTOM: #702030 2px solid;
	BACKGROUND-COLOR: #000000;
	TEXT-ALIGN: left
}
.Turn {
	BORDER-RIGHT: #145a4f 1px dashed;
	BACKGROUND-POSITION: 99% 10%;
	BORDER-TOP: #145a4f 1px dashed;
	FONT-SIZE: 16pt;
	LEFT: 50%;
	BACKGROUND-IMAGE: url(blk/title2.gif);
	MARGIN-BOTTOM: 1em;
	BORDER-LEFT: #145a4f 1px dashed;
	WIDTH: 45%;
	BORDER-BOTTOM: #145a4f 1px dashed;
	BACKGROUND-REPEAT: no-repeat;
	POSITION: relative;
	HEIGHT: 50px
}
/* 最近の出来事 */
#HistoryLog, #RecentlyLog {
	white-space	: nowrap;
}
/* 大きい文字 */
.big {
	font-size	: 24pt;
}

/* Mapページ ---------------------------------------------------------*/
/* ナビ表示 */
#NaviView{
	visibility	: hidden;
	z-index		: 1;
	position	: absolute;
	background-color: #000000;
	border		: solid #000000;
	border-width	: 1px;
	min-width	: 120px;
	max-width	: 180px;
	margin-top	: -224px;
	padding		: 3px;
	white-space	: normal;
	filter	   	: Alpha(opacity=120);
 	opacity		: 0.8; /* Mozzila系 */
}
.NaviTitle {
	font-size	: 9pt;
	padding		: 5px 0;
	color	: #ffffff;
	border		: dotted #f0ffff;
	border-width	: 0 0 1 0;
}
.NaviImg {
	margin		: 5px;
}
.NaviText {
	margin		: 5px 0 5px 0;
	font-size	: 11px;
	color	: #ffffff;
}
/* 島情報テーブル */
#islandInfo table {
	text-align	: center;
	width		: 100%;
}
#islandMap, #islandMap table {
	margin		: auto;
}
#islandInfo TABLE {
	WIDTH: 100%
}
#CommentBox TABLE {
	WIDTH: 100%
}
#localBBS TABLE {
	WIDTH: 100%
}
#islandInfo TH {
	BACKGROUND-COLOR: #333333
}
#CommentBox TH {
	BACKGROUND-COLOR: #333333
}
#localBBS TH {
	BACKGROUND-COLOR: #333333
}
#localBBS CENTER {
	TEXT-ALIGN: left
}
.islName, .islName2, .number, .head, .headToTo, .command, .disaster, .lbbsCell,
.money, .food, .HCwin, .HClose, .attention, .bumon { font-weight: bold; }
.islName   { color: #ffe4e1;        } /* 島の名前など */
.islName2  { color: #808080;        } /* 薄くなった島の名前 */
.number    { color: #a0a0a0;        } /* 順位の番号など */
.head      { color: #c08080;        } /* 順位表における見だし */
.headToTo  { color: #616566;        } /* toto表における見だし */
.command   { color: #d08080;        } /* 開発計画名 */
.disaster  { color: #cca0a0;        } /* 災害 */
.lbbsST    { color: #a1a5aa;        } /* 観光者通信（極秘） */
.money     { color: #a0cca0;        } /* お金 */
.food      { color: #e0e0cc;        } /* 食料 */
.HCwin     { color: #a0a0cc;        } /* 箱庭カップ勝利 */
.HClose    { color: #808080;        } /* 箱庭カップ敗北 */
.attention { color: #cca0a0;        } /* 注意 */
.bumon     { color: #cccccc;        } /* ランキングの部門名 */
.point     { color: #a1a5cc;        } /* point */
.unemploy1 { color: #a1a5cc;        } /* 失業率- */
.unemploy2 { color: #cca1a5;        } /* 失業率+ */
.shuto     { color: #a1cca5;        } /* 首都名，ユニーク地形 */
.house     { color: #778899;        } /* 島主の家，島ID */
.eisei     { color: #336633;        } /* 人工衛星 */
.monsm     { color: #cc8899;        } /* 怪獣出現中！，成長率 */
.normal    { color: #ffffff;        } /* 通常の文字色 */

/* 背景色 */
.TitleCell   { background-color: #272727;        } /* 順位表見出し */
.NumberCell  { background-color: #121212;        } /* 順位表順位 */
.NameCell    { background-color: #000000;        } /* 順位表島の名前 */
.InfoCell    { background-color: #434343; text-align: right;       } /* 順位表島の情報 */
.MarkCell    { background-color: #434343; text-align: center;       } /* 順位表島の情報 */
.TenkiCell   { background-color: #434343; text-align: center;       } /* 順位表島の情報 */
.ItemCell    { background-color: #434343; text-align: left;       } /* 順位表島の情報 */
.CommentCell { background-color: #000000; text-align: left;       } /* 順位表コメント欄 */
.InputCell   { background-color: #121212;        } /* 開発計画フォーム */
.MapCell     { background-color: #000000;        } /* 開発計画地図 */
.CommandCell { background-color: #121212; white-space: normal;       } /* 開発計画入力済み計画 */
.lbbsCell    { background-color: #000000;        } /* 観光者通信の内容 */
.PoinCell    { background-color: #000000;        } /* Point欄 */
.TotoCell    { background-color: #121212;        } /* toto欄 */
.RankingCell { background-color: #333333;        } /* ランキング欄 */
.PopupCell   { background-color: #121212;        } /* Popup コマンド入力欄 */

/* JSコマンド送信済み */
.commandjs1  {
	border-width	: 0px;
	color		: white;
	width		: 100%;
	height		: 100%;
	background-color: #121212;
}
/* JSコマンド未送信 */
.commandjs2  {
	border-width	: 0px;
	color		: red;
	width		: 100%;
	height		: 100%;
	background-color: #444444;
}

/* アクセスログ ---------------------------------------------------------*/
/* アクセスログテーブル */
#DATA-TABLE {
	background-color: #ffffff;
}
