body {
    scrollbar-face-color: #ffffff;
    font-size: 10pt;
    background-image: url(http://kin-kin.ddo.jp/cgiimg/ra/style/background.gif);
    scrollbar-highlight-color: #ffffff;
    scrollbar-shadow-color: #6699ff;
    color: #333;
    scrollbar-arrow-color: #6699ff;
    font-family: tahoma, ms ui gothic, chicago;
    scrollbar-base-color: #ffffff;
    background-color: #f0f8ff;
    scrollbar-3d-light-color: #6699ff;
    scrollbar-dark-shadow-coor: #ffffff
}
a {
    color: #4169e1;
    text-decoration: none
}
a:visited {
    color: #4682b4
}
a:active {
    color: #008b8b
}
a:hover {
    border-right: #008b8b 0px dashed;
    border-top: #008b8b 0px dashed;
    border-left: #008b8b 0px dashed;
    color: #008b8b;
    border-bottom: #008b8b 1px dashed;
    background-color: #99decc
}
hr {
    border-right: #4169e1 1px dashed;
    border-top: #4169e1 1px dashed;
    border-left: #4169e1 1px dashed;
    border-bottom: #4169e1 1px dashed
}
table {
    border-right: medium none;
    border-top: medium none;
    border-left: medium none;
    border-bottom: medium none
}
th {
    border-right: #00bfff 1px solid;
    border-top: #00bfff 1px solid;
    font-size: 10pt;
    border-left: #00bfff 1px solid;
    border-bottom: #00bfff 1px solid
}
td {
    border-right: #00bfff 1px solid;
    border-top: #00bfff 1px solid;
    font-size: 10pt;
    border-left: #00bfff 1px solid;
    border-bottom: #00bfff 1px solid
}
td.m {
    border-right: medium none;
    border-top: medium none;
    border-left: medium none;
    border-bottom: medium none
}
h1 {
    border-right: #6495ed 1px solid;
    border-top: #6495ed 1px solid;
    padding-left: 40px;
    font-size: 14pt;
    background-image: url(http://kin-kin.ddo.jp/cgiimg/ra/style/bg_h1.png);
    text-transform: uppercase;
    border-left: #6495ed 1px solid;
    color: #6495ed;
    border-bottom: #6495ed 1px solid
}
.title {
    border-right: #008b8b 0px solid;
    background-position: 100% 100%;
    border-top: #008b8b 0px solid;
    font-weight: bold;
    font-size: 32pt;
    background-image: url(http://kin-kin.ddo.jp/cgiimg/ra/style/monster0.gif);
    margin: 0.5em 0px 1em;
    text-transform: uppercase;
    border-left: #008b8b 0px solid;
    width: 500px;
    color: #c0c0c0;
    border-bottom: #008b8b 1px solid;
    background-repeat: no-repeat;
    font-style: italic;
    letter-spacing: 5px
}
.title:first-letter {
    font-size: 48pt;
    color: #4169e1
}
.big {
    font-size: 24pt
}
.timer {
    font-weight: bold;
    margin: 1px 0px;
    color: #6495ed;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none
}
.islname {
    font-weight: bold
}
.islname2 {
    font-weight: bold
}
.number {
    font-weight: bold
}
.head {
    font-weight: bold
}
.headtoto {
    font-weight: bold
}
.command {
    font-weight: bold
}
.disaster {
    font-weight: bold
}
.lbbsss {
    font-weight: bold
}
.lbbsow {
    font-weight: bold
}
.money {
    font-weight: bold
}
.food {
    font-weight: bold
}
.hcwin {
    font-weight: bold
}
.hclose {
    font-weight: bold
}
.attention {
    font-weight: bold
}
.bumon {
    font-weight: bold
}
.islname {
    color: #a06040
}
.islname2 {
    color: #808080
}
.number {
    color: #6495ed
}
.head {
    color: #000080
}
.headtoto {
    color: royalblue
}
.command {
    color: #d08000
}
.disaster {
    color: #ff0000
}
.lbbsss {
    color: #0000ff
}
.lbbsow {
    color: #ff0000
}
.lbbsst {
    color: gray
}
.money {
    color: goldenrod
}
.food {
    color: lightseagreen
}
.hcwin {
    color: #0000ff
}
.hclose {
    color: #a06040
}
.attention {
    color: #ff0000
}
.bumon {
    color: #ffffff
}
.point {
    color: royalblue
}
.unemploy1 {
    color: royalblue
}
.unemploy2 {
    color: red
}
.shuto {
    color: mediumseagreen
}
.house {
    color: salmon
}
.eisei {
    color: lightseagreen
}
.monsm {
    color: hotpink
}
.normal {
    color: #000000
}
.titlecell {
    background-color: #87cefa
}
.numbercell {
    background-color: #87cefa
}
.namecell {
    background-color: #f5fffa
}
.infocell {
    background-color: #ffffff
}
.commentcell {
    background-color: #ffffff
}
.inputcell {
    background-color: #afeeee
}
.mapcell {
    background-color: #ffffff
}
.commandcell {
    background-color: #ffffff
}
.poincell {
    background-color: moccasin
}
.totocell {
    background-color: white
}
.rankingcell {
    background-color: lightsteelblue
}
.popupcell {
    background-color: #e0ffff
}
.commandjs1 {
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    width: 100%;
    color: blue;
    height: 100%;
    background-color: #ccc;
    border-right-width: 0px
}
.commandjs2 {
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    width: 100%;
    color: red;
    height: 100%;
    background-color: #ffffff;
    border-right-width: 0px
}
#naviview {
    border-right: #4169e1 3px groove;
    padding-right: 3px;
    border-top: #4169e1 3px groove;
    margin-top: -224px;
    padding-left: 3px;
    z-index: 1;
    visibility: hidden;
    padding-bottom: 3px;
    border-left: #4169e1 3px groove;
    width: 180px;
    padding-top: 3px;
    border-bottom: #4169e1 3px groove;
    position: absolute;
    background-color: #f0ffff
}
.navititle {
    border-right: #000080 0px solid;
    border-top: #000080 0px solid;
    font-size: 12pt;
    border-left: #000080 0px solid;
    border-bottom: #000080 2px solid
}
.naviimg {
    margin: 5px
}
.navitext {
    margin-left: 15px
}
