/********************************************************************/


/*  Edited By : Watson                                              */


/********************************************************************/


/* 基本構成 ---------------------------------------------------------*/

body {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
    color: #333;
    background-color: #f6fbfd;
}

/* 区切り線 */

hr {
    border-bottom: 1px solid #5FAFD7;
}

/* テーブル */

table {
    border: none;
}
th, td {
    /*border: solid #00BFFF 1px;*/
    white-space: nowrap;
}
th {
/*    border-color: #1E90FF;*/
}
td.M {
    border: none;
}
img {
    border: none;
}

/* 更新時間 */

#lastModified {
/*    font-size: 90%;*/
}

/* フッタ */

#LinkFoot {}

/* TOPページ ---------------------------------------------------------*/


/* タイトル */

h1 {
    color: #C0C0C0;
/*    letter-spacing: 5px;
    text-transform: uppercase;*/
}
.title:first-letter {
    color: #4169E1;
    font-size: 48px;
}
.Turn {
    display: block;
    text-align: left;
    font-weight: bold;
    color: #6BBED5;
}
h2 {
    font-weight: bold;
    color: #6BBED5;
    text-transform: uppercase;
}

/* 最近の出来事 */

#HistoryLog, #RecentlyLog {
    white-space: nowrap;
}

/* 大きい文字 */

.big {
    font-size: 24px;
}

/* リアルタイマー */

.timer {
    color: #6BBED5;
    font-weight: bold;
    border-style: none;
    margin: 1px 0px;
}

/* Mapページ ---------------------------------------------------------*/

#NaviView {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    background-color: #000000;
    min-width: 120px;
    max-width: 180px;
    margin-top: -224px;
    padding: 4px;
    white-space: normal;
    opacity: 0.8;
}
.NaviTitle {
    font-size: 9px;
    padding: 5px 0;
    color: #ffffff;
    border: none;
}
.NaviImg {
    margin: 6px;
}
.NaviText {
    margin: 6px 0;
    font-size: 11px;
    color: #ffffff;
}

/* 島情報テーブル */

#islandInfo table {
    text-align: center;
    width: 100%;
}
#islandMap, #islandMap table {
    margin: auto;
}

/* 観光者通信テーブル */

#localBBS table th {
    background-color: #AFEEEE;
}
.islName, .islName2, .number, .head, .headToTo, .command, .disaster, .lbbsCell, .money, .food, .HCwin, .HClose, .attention, .bumon {
    font-weight: bold;
}
.islName {
    color: #A06040;
}

/* 島の名前など */

.islName2 {
    color: #808080;
}

/* 薄くなった島の名前 */

.number {
    color: #6BBED5;
}

/* 順位の番号など */

.head {
    color: #000080;
}

/* 順位表における見だし */

.headToTo {
    color: royalblue;
}

/* toto表における見だし */

.command {
    color: #D08000;
}

/* 開発計画名 */

.disaster {
    color: #FF0000;
}

/* 災害 */

.lbbsST {
    color: gray;
}


/* お金 */

.food {
    color: lightseagreen;
}

/* 食料 */

.HCwin {
    color: #0000FF;
}

/* 箱庭カップ勝利 */

.HClose {
    color: #A06040;
}

/* 箱庭カップ敗北 */

.attention {
    color: #FF0000;
}

/* 注意 */

.bumon {
    color: #FFFFFF;
}

/* ランキングの部門名 */

.point {
    color: royalblue;
}

/* point */

.unemploy1 {
    color: royalblue;
}

/* 失業率- */

.unemploy2 {
    color: red;
}

/* 失業率+ */

.shuto {
    color: mediumseagreen;
}

/* 首都名，ユニーク地形 */

.house {
    color: salmon;
}

/* 島主の家，島ID */

.eisei {
    color: lightseagreen;
}

/* 人工衛星 */

.monsm {
    color: hotpink;
}

/* 怪獣出現中！，成長率 */

.normal {
    color: #000000;
}

/* 通常の文字色 */


/* 背景色 */

.TitleCell {
    background-color: #97D3E3;
}

/* 順位表見出し */

.NumberCell {
    background-color: #97D3E3;
}

/* 順位表順位 */

.NameCell {
    background-color: #e9f6f9;
}

/* 順位表島の名前 */

.InfoCell {
    background-color: #DBF0F6;
    text-align: right;
}

/* 順位表島の情報 */

.MarkCell {
    background-color: #DBF0F6;
    text-align: center;
}

/* 順位表島の情報 */

.TenkiCell {
    background-color: #DBF0F6;
    text-align: center;
}

/* 順位表島の情報 */

.ItemCell {
    background-color: #DBF0F6;
    text-align: left;
}

/* 順位表島の情報 */

.CommentCell {
    background-color: #FFFFFF;
    text-align: left;
}

/* 順位表コメント欄 */

.InputCell {
    background-color: #AFEEEE;
}

/* 開発計画フォーム */

.MapCell {
    background-color: #FFFFFF;
}

/* 開発計画地図 */

.CommandCell {
    background-color: #FFFFFF;
    white-space: normal;
}

/* 開発計画入力済み計画 */

.lbbsCell {
    background-color: #FFFFFF;
}

/* 観光者通信の内容 */

.PoinCell {
    background-color: moccasin;
}

/* Point欄 */

.TotoCell {
    background-color: white;
}

/* toto欄 */

.RankingCell {
    background-color: lightsteelblue;
}

/* ランキング欄 */

.PopupCell {
    background-color: #DBF0F6;
}

/* Popup コマンド入力欄 */


/* JSコマンド送信済み */

.commandjs1 {
    border-width: 0px;
    color: blue;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

/* JSコマンド未送信 */

.commandjs2 {
    border-width: 0px;
    color: red;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

/* アクセスログ ---------------------------------------------------------*/


/* アクセスログテーブル */

#DATA-TABLE {
    background-color: #ffffff;
}

/**
 * 追加した項目
 */

#islandMap img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
